/* Import main styles */
@import url(main.css);

/* Fixes for the HTML root/main/body */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: var(--palette-color-1);
}

main {
    padding-top: 6rem;
    font-size: 2rem;
    padding-bottom: 6rem;
    background-color: var(--palette-color-1);
}

/* About us section */
.about-us {
    padding: 2rem 0;
    background: var(--palette-color-5);
}

.about-us h2 {
    font-size: 2rem;
    margin: 1.5rem;
    text-align: center;
    color: var(--palette-color-4);
    text-decoration: underline;
}

#about-us-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

#about_us_img {
    width: 90vw;
    height: auto;
    text-align: center;
}

.about-us p {
    font-size: 1.3rem;
    padding: 0 1.3rem;
    color: var(--alt-color-1);
    line-height: 1.5;
}

.about-us p i {
    margin-right: .5rem;
    color: var(--palette-color-4);
}

/* Image slider */
.img-slider {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--palette-color-4);
}

/* Slider images */
.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    -webkit-clip-path: circle(0% at 50% 0);
            clip-path: circle(0% at 50% 0);
}

.img-slider .slide.active {
    -webkit-clip-path: circle(100.0% at 50% 0);
            clip-path: circle(100.0% at 50% 0);
    -webkit-transition: -webkit-clip-path 2s;
    transition: -webkit-clip-path 2s;
    -o-transition: clip-path 2s;
    transition: clip-path 2s;
    transition: clip-path 2s, -webkit-clip-path 2s;
}

.img-slider .slide img {
    z-index: 1;
    width: 100%;
    height: 100%;
}

/* Review */
.img-slider .slide .review {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.5;
}

blockquote {
    color: paleturquoise;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(3, 54, 123, 1);
    padding: 0 2rem;
    border-radius: .5rem;
    font-size: .8rem;
}

blockquote > span {
    font-style: italic;
}

.stars {
    color: var(--palette-color-4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: .3rem;
}

/* Slide controls */
.img-slider .slide-controls {
    z-index: 2;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2.5rem;
    left: 95%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.img-slider .slide-controls .control {
    background: var(--alt-color-1);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.img-slider .slide-controls .control.active {
    background: var(--palette-color-4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .5);
            box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

footer {
    margin-top: 12rem;
}

/* Fixes for tablets */
@media screen and (min-width: 600px) {
    footer {
        margin-top: 20rem;
    }
}

@media screen and (min-width: 768px) {
    .img-slider .slide-controls .control {
        width: 15px;
        height: 15px;
    }

    blockquote {
        font-size: 1.2rem;
    }

    .slide-controls {
        top: 10rem;
    }

    blockquote {
        margin-top: 22rem;
    }

    footer {
        margin-top: 28rem;
    }
}

/* Fixes for laptops, desktops, and big screens */
@media screen and (min-width: 1024px) {
    .img-slider .slide-controls .control {
        width: 20px;
        height: 20px;
    }

    blockquote {
        font-size: 1.5rem;
        margin-top: 25rem;
        padding: 0 10rem;
    }

    .slide-controls {
        top: 15rem;
    }

    .about-us p {
        font-size: 1.8rem;
    }

    main {
        padding-top: 8.5rem;
    }

    footer {
        margin-top: 38rem;
    }

}
@media screen and (min-width: 1280px) {
    .img-slider .slide-controls .control {
        width: 25px;
        height: 25px;
    }

    blockquote {
        font-size: 2rem;
        margin-top: 30rem;
        padding: 0 15rem;
    }

    .slide-controls {
        top: 20rem;
    }

    main {
        padding-top: 12rem;
    }

    footer {
        margin-top: 50rem;
    }
}

@media screen and (min-width: 1366px) {
    .img-slider .slide-controls .control {
        width: 25px;
        height: 25px;
    }

    blockquote {
        font-size: 2rem;
        margin-top: 30rem;
        padding: 0 15rem;
    }

    .slide-controls {
        top: 20rem;
    }

    main {
        padding-top: 8.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .img-slider .slide-controls .control {
        width: 25px;
        height: 25px;
    }

    blockquote {
        font-size: 2rem;
        margin-top: 30rem;
        padding: 0 15rem;
    }

    .slide-controls {
        top: 20rem;
    }

    main {
        padding-top: 8.5rem;
    }

    footer {
        margin-top: 60rem;
    }

}

@media screen and (min-width: 1920px) {
    footer {
        margin-top: 90rem;
    }
}

@media screen and (min-width: 2560px) {
    .img-slider .slide-controls .control {
        width: 30px;
        height: 30px;
    }

    blockquote {
        font-size: 2.5rem;
        margin-top: 35rem;
        padding: 0 20rem;
    }

    .slide-controls {
        top: 40rem;
    }

    main {
        padding-top: 8.5rem;
    }

    footer {
        margin-top: 110rem;
    }

}