/* CSS for the about us page */

/* Import main styles */
@import url(main.css);

/* Fixes for the HTML root/main/body */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: var(--alt-color-1);
}

main {
    padding-top: 6rem;
    font-size: 2rem;
    padding-bottom: 2rem;
    background-color: var(--palette-color-1);
}