/* CSS for the delivery page */

/* Import main styles */
@import url(main.css);

/* Fixes for the HTML main */
main {
    padding-top: 8rem;
    padding-bottom: 2rem;
    background-image: url(../assets/images/backgrounds/noise-1.png);
    background-color: var(--palette-color-1);
    font-size: 2rem;
    padding: 0 .3rem;
}

/* Fixes for laptops, desktops, and big screens */
@media screen and (min-width: 1024px) {
    main {
        padding-top: 10rem;
    }
}

/* Delivery */
h2 {
    color: var(--palette-color-4);
    font-size: 2.3rem;
    text-align: center;
    padding: 1.2rem 0;
    text-decoration: underline;
}

.delivery, .drive-thru {
    text-align: end;
    color: var(--alt-color-1);
}

.delivery-end, .drive-thru-end {
    text-align: start;
    color: var(--alt-color-1);
}

.delivery-highlighted {
    /* font-weight: bold; */
    color: var(--palette-color-4);
}

#delivery-img-container, #drive-thru-img-container {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#delivery-img, #drive-thru-img {
    width: 90vw;
    height: 100%;
}

#drive-thru-heading {
    margin-top: 4rem;
}