/* Import main styles */
@import url(main.css);

/* Gallery */
#gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
    background-color: var(--palette-color-2);
}

#gallery-heading {
    text-align: center;
    color: var(--palette-color-4);
    text-decoration: underline;
}

#gallery-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.3rem;
}

#gallery-container > div {
    margin: 1rem 0;
    width: 80vw;
}

#gallery-container > div > img {
    width: 100%;
    border: 1px solid var(--palette-color-4);
    border-radius: .3rem;
}

/* Fixes for laptop, desktop, and big screens */
@media screen and (min-width: 1024px) {
    #gallery {
        padding-top: 12rem;
    }

    #gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #gallery-container > div {
        width: 40vw;
        height: 100%;
        margin: 2rem 2rem;
    }

    #gallery-heading {
        margin-bottom: 2rem;
    }

    #gallery-container > div > img {
        width: 100%;
        height: 90%;
    }
}