/* Import components */
@import url(components.css);

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: var(--main-font);
}

/* Header and navigation */
#header-logo {
    border: 1px solid var(--palette-color-4);
    width: 5rem;
    height: 5rem;
    border-radius: .2rem;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

header{
    background-image: url(../assets/images/header/coffee1.jpg);
    background-size: 100%;
    background-position: center;
    background-color: var(--palette-color-1);
    padding: .5rem;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-repeat: repeat-y;
}

#main-heading {
    font-size: 1rem;
    color: var(--palette-color-4);
    white-space: nowrap;
    text-align: center;
    cursor: default;
}

.nav-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 45px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.burger-line {
    width: 20px;
    height: 2px;
    background-color: var(--palette-color-4);
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.burger-line::before, .burger-line::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--palette-color-4);
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.burger-line::before {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}

.burger-line::after {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
}

.nav-btn.open .burger-line {
    background: transparent;
}

.nav-btn.open .burger-line::before{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.nav-btn.open .burger-line::after{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.nav-links {
    color: var(--palette-color-4);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-active {
    color: var(--palette-color-3);
    -webkit-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}

#nav-list {
    visibility: 0;
    opacity: 0;
    overflow-y: hidden;
    max-height: 0;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
         -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#nav-list.opened {
    max-height: 400px;
}

#nav-list>li {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid var(--palette-color-2);
}

#nav-list>li:last-child {
    border-bottom: none;
}

#nav-list>li>a {
    padding: 1rem;
}

/* Fixes for tablet screens */
@media screen and (min-width: 768px) {
    header {
        background-size: 100%;
    }

    #main-heading {
        font-size: 1.5rem;
    }

    .burger-line, .burger-line::after, .burger-line::before {
        width: 25px;
    }

    .nav-links {
        font-size: 1.5rem;
        padding: 0;
    }
}

/* Fixes for laptops, desktops, and big screens */
@media screen and (min-width: 1024px) {
    header {
        height: 140px;
    }

    #header-logo {
        width: 5rem;
        height: 5rem;
        margin-left: -40vw;
    }

    #main-heading {
        font-size: 1.5rem;
    }

    .nav-btn  {
        display: none;
    }

    .nav-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
    }

    #nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        visibility: visible;
        opacity: 1;
        max-height: 200px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: .5rem;
    }

    #nav-list li {
        border-bottom: 1px solid;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    #nav-list li:hover {
        border-bottom: 1px solid var(--palette-color-4);
        margin-top: -5px;
    }

    #nav-list li a {
        font-size: 1.5rem;
        font-weight: normal;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

@media screen and (min-width: 1440px) {
    #header-logo {
        margin-left: -43vw;
    }
}

@media screen and (min-width: 2560px) {
    #header-logo {
        margin-left: -46vw;
    }
}

/* Main */
main {
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: normal;
}

/* Footer */
footer {
    background-color: var(--palette-color-1);
    padding: 1rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--palette-color-4);
}

#footer-logo {
    width: 5rem;
    height: 5rem;
}

#footer-text {
    color: var(--palette-color-4);
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: normal;
}

.location {
    margin: 1rem 0rem;
    font-weight: normal;
}

.phone {
    color: var(--alt-color-1);
}

#copyright {
    font-size: .8rem;
    color: var(--palette-color-3);
    padding: 1rem;
}

/* Fixes for tablet screens */
@media screen and (min-width: 768px) {
    #footer-logo {
        width: 10rem;
        height: 10rem;
        border: 1px solid var(--palette-color-4);
        border-radius: .2rem;
    }
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}